<div class="text center">
  <p>Please enter the details of your advertisement below.</p>
  </p>
</div>

<div class="text center">
  <p>Before submitting please make sure your image width and height are a multiple of ten. </p>
  </p>
</div>

<div class="text center">
  <p>Adverts are charged at £1 per 10 x 10 pixel square.</p>

  <p>So a 20 by 20 pixel advert will cost £4</p>

  <p>And a 60 by 50 pixel advert will cost £30</p>  
</div>


<div class="text center alt">
  <p>
    <%= render 'form' %>
 </p>
</div>